body {
    background-color: darkgray;
}

#menu {
    width: 101%; /*largura*/
    height: 90px;/*altura*/
    background-color: red;
   
}

#BodyLogin{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 3%, rgba(9,9,121,1) 53%, rgba(0,64,255,1) 100%);
    text-align: center;
    font-size: 1em;
 
    
}

#divLogin{
    height: 40px;
}

.LinkMenu {
    color: aliceblue;
    font-size: 2.2em;
    margin-left: 45px;
    margin-right: 45px;
    text-decoration: none;
   
    
}
#menu img {
    height: 60px;
}

<label{
    text-align: center;
}

.parte1 {
    width: 100%;
    height: 850px;
    text-align: center;
    margin-top: 20px;
}

parte1 img{
    height: 200px;
    width: 85%;
}
.part1 h1{
    color: red;
}
.parte1 p{
    font-family: 'Times New Roman', Times, serif;
    color: azure;
}




.divLogin{
    margin-top: 240px;
}

h2{
    color: aliceblue;
}

#bodyContato{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 3%, rgba(121,9,20,1) 53%, rgba(255,111,0,1) 100%);
}

.divContato{
    text-align: center;
    margin-top: 220px;

}

#Cabecalho{
    color: orange;
    text-align: center;
}
 
#msg{
   margin-bottom: 400px;
    color: blue;
}

#txtArea{
    margin-top: 20px;
  background-color: transparent;
}

#emailm{
    margin-right: 35px;
}

#nomem{
    margin-right: 37px;
}
}
/**/